version: "3.9"
services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: "meep" # DON'T FORGET TO SET A PASSWORD LATER PLEASE DAAN
    volumes:
      - clickhouse_data:/var/lib/clickhouse
volumes:
  clickhouse_data:
